.responsive-container{
    display: flex;
    justify-content: space-around; /*justify content: 수평간걱*/
    align-items: center; /*align-items: 수직간격 정렬*/
    flex-wrap: wrap; /*flex-wrap: 하위요소가 부모값보다 넘처나면 줄바꿈*/
    background-color: antiquewhite;
    padding: 20px;
    gap: 10px;
}
.responsive-item{
    flex: 1 1 calc(33.33% - 60px);
    padding: 20px;
    background-color: aqua;
    text-align: center;
}
@media (max-width: 768px){
    .responsive-item{
        flex: 1 1 calc(50% - 60px);
    }
}

@media(max-width: 480px){
    .responsive-item{
        flex: 1 1 calc(100%);
    }
}