<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>영화리뷰사이트</h1>
    <a href="{% url 'reviews:review_create' %}">리뷰 작성</a>
    <ul>
    {% for review in reviews %}
        <li>
        <a href="{% url 'reviews:review_detail' review.pk %}">{{ review.title }}</a> - {{ review.release_year }} {{ review.genre }} ({{ review.rating }}⭐)
        </li>
    {% endfor %}
    </ul>
</body>
</html>