*{
    /*width가 패딩이랑 보더 포함한 전체 너비가리킴(마진제외)*/
    box-sizing: border-box;
}
body {
    width: 1705px; /* 전체 너비를 고정 */
    margin: 0 auto; /* 화면 중앙에 정렬 */
  }
.white{
    color: aliceblue;
}
header, main{
    background-color: #2b3138;
    color: aliceblue;
}
header{
    height: 90px;
    border: 2px solid #2b3138;
    font-size: 18px;
}
main{
    height: 630px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 30px;
}
#header-nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 13px;
}
#header-left-menu{
    margin-left: 20px;
}
#header-right-menu{
    margin-right: 50px;
}
#header-left-menu > ul a, #header-right-menu >ul a{
    text-decoration: none;
    color:azure;
    font-weight:large;
}
#header-left-menu > ul #logo{
    position: relative;
    top: -10px;
    padding-right: 2px;
}
#header-right-menu > ul > li > a{
    padding: 8px 5px;
}
#header-right-menu > ul > li:last-of-type > a{
    border: 1px solid white;
    border-radius: 8px;
}
#header-left-menu > ul .octicon{
    display: inline-block;
    overflow: visible !important;
    vertical-align: text-bottom;
    fill: currentColor;
}
#header-left-menu > ul, #header-right-menu, #header-right-menu >ul{
    list-style: none;
    display: flex;
    gap: 22px;
}
#header-right-menu > ul{
    margin-right: 110px;
    padding-left: 0px;
}

#header-right-menu > #search-bar-container{
    position: relative;
    top: -8px;
    padding: 5px 5px 7px;
    margin: 20px;
    border-radius: 8px;
    background-color: #464c51;
}
#header-right-menu > #search-bar-container svg{
    position: relative;
    top: 5px;
}
#header-right-menu > #search-bar-container > #search-bar{
    width: 230px;
    height: 24px;
    font-size: 16px;
    background-color: #464c51;
    border: none;
    color: white;
}
#main-left-area, #main-right-area{
    margin: 20px;
}

#main-left-area{
    margin: 100px 50px 100px 220px;
}
#main-left-area > p:first-of-type{
    font-size: 78px; margin: 0;
    font-weight: large;
    line-height: 1;
}
#main-left-area > p:last-of-type{
    padding-top: 25px;
    font-size: 25px; margin: 0;
    color: #a3a9ad;
    line-height: 1.4;
}

#main-right-area{
    margin: 0 320px 100px 30px;
    border-radius: 8px;
    background-color: #fafcfe;
    color: black;
    padding: 30px;
    padding-bottom: 0;
}

#main-right-area a{
    text-decoration: none;
    color:#548cce;
}

#main-right-area >form #username, #main-right-area >form #email, #main-right-area >form #password{
    width: 100%;
    height: 50px;
    border: 1px solid black;
    border-radius: 8px;
    margin: 10px 0 20px;
    padding: 0 10px;
}
#main-right-area >form #username:focus, #main-right-area >form #email:focus, #main-right-area >form #password:focus{
    
    border-color: blue; /* 포커스 되었을 때 테두리 색상 변경 */
    background-color: #e0f7fa; /* 포커스 되었을 때 배경 색상 변경 */
    
}

#main-right-area >form label{
    font-weight: 500;
}
#main-right-area >form #password{
    margin-bottom: 0;
}
#main-right-area >form #first-des{
    font-size: 13px;
    margin: 18px 0;
}

#main-right-area >form #second-des{
    font-size: 13px;
    margin: 18px 0;
    color: #a3a9ad;
}

#main-right-area >form #submit{
    width: 100%;
    height: 70px;
    border: none;
    border-radius: 8px;
    background-color: #2dbc4e;
    color: white;
    font-size: 18px;
    margin: 10px 0 20px;
}
footer{
    position: relative;
    height: 200px;
    width: 100%;
}
footer img{
    position: absolute;
    height: 250px;
    bottom: 0;
    right: 200px;
}